<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace:该mapper.xml文件的唯一标识  -->
<mapper namespace="org.motinyu.dao.StudentDao">

	<select id="queryStudentByStuno" parameterType="int" resultType="org.motinyu.entity.Student">
		select * from student where stuNO = #{stuNO} 
	</select>
	
	<insert id="addStudent" parameterType="org.motinyu.entity.Student" >
		insert into student(stuNo,stuName,stuAge) value(#{stuNo},#{stuName},#{stuAge})
	</insert>
</mapper>